{{>layout/header}}
<br><br><br>
<main role="main">
    <div class="container">
        <div class="col-md-10">
            <div class="col-md-50">
                <div>
                    <h1><strong>게시물 등록</strong></h1>
                    <br>
                </div>
                <form method="post">
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" class="form-control required" id="title" placeholder="제목">
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label for="author">첨부파일</label>-->
<!--                        <input type="text" class="form-control" id="fileID" placeholder="첨부할 파일을 선택하세요">-->
<!--                    </div>-->
<!--                    <form id="frm" name="frm" method="get" action="/api/posts/file" enctype="multipart/form-data">-->
<!--                        <input type="file" id="files" name="files" multiple="multiple">-->
<!--                        <input type="button" id="btn-saveFile" value="저장" class="btn btn-outline-dark">-->
<!--                    </form>-->
                    <div class="form-group">
                        <form id="fileUpload" name="fileUpload" enctype="multipart/form-data">
                            <input type="file" id="files" name="files" multiple="multiple">
                        </form>
                    </div>
                <label for="location">위치정보</label>
                    <div class="map_wrap" class="bg_white">
                        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                        <div class="hAddr">
                            <span class="title">지도중심기준 행정동 주소정보</span>
                            <span id="centerAddr"></span>
                        </div>
                        <div id="menu_wrap" class="bg_white">
                            <div class="option">
                                <div>
                                    <form>
                                        키워드: <input type="text" value="아주대학교" id="keyword" size="15">
                                        <button type="button" onclick="searchPlaces();">검색하기</button>
                                    </form>
                                </div>
                            </div>
                            <ul id="placesList"></ul>
                            <div id="pagination"></div>
                        </div>
                    </div>
                    <br>
                    <label for="content">본문</label>
                    <div class="form-group" id="editor"></div>
                </form>
                <a href="/boardV3" role="button" class="btn btn-secondary">취소</a>
                <button type="button" class="btn btn-primary" id="btn-save">등록</button>
            </div>
        </div>
    </div>
</main>
{{>layout/footer}}
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/static/js/app/saveLoc.js"></script>
<script src="/static/js/app/saveV2.js"></script>
<!--<script src="/static/js/app/saveFile.js"></script>-->
</body>
</html>